*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    margin:2rem 0 5rem 0;
}
.main{
    width:30%;
    height: 13rem;
    background-color: rgb(132, 216, 250);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

}
.input{
    margin-top: 0;
    width: 70px;
    height: 1.4rem;
    border: 2px solid #000;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    text-align: center;
}
button{
    width: 2rem;
    height: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    border: none;
}